body {
    background: linear-gradient(180deg, #B9D3E6 0%, #82AAC7 100%);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 400;
}

a {
    color: #2EB4B0;
    font-weight: 300;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #196967;
}

.content-tab {
    background-color: #FFFFFF;
    color: #000000;
    max-width: 40em;
}

.news-link {
    color: #CAA677;
    /* clear: both;
    float: left; */
}
.news-link:hover {
    color: #997545;
}

.icon-article {
    float: left;
    font-size: 250%;
}